<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Credit App!</title>
</head>
<body>
<h1>Welcome!</h1>
<br/>
<a th:href="@{/api/auth/signup}">Sign Up!</a>
<br/>
<a th:href="@{/api/auth/signup}">Sign In!</a>
<br/>
<a th:href="@{/api/auth/signup}">Update Credentials</a>
<br/>
<a th:href="@{/api/auth/signup}">Sign Out</a>
<br/>
<a th:href="@{/api/auth/signup}">Request Credit!</a>
<br/>
<a th:href="@{/api/auth/signup}">Check Credit Status</a>

</body>
</html>